html,body{
	height:100%;
	margin:0;
	padding:0;
}
body{
	background:#cc0303;
	text-align:center;
	min-width:100%;
	min-height:400px;
}
#vertical{
	float:left;
	height:50%;
	margin-top:-236px;/* half vertical height*/
	width:100%;

}

#hoz {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	height:468px;
	background:#fff;
	text-align:left;
	clear:both;
	background: url("../img/bg.jpg") repeat-x;
}
#content {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	height:468px;
	clear:both;
	background: url("../img/bg.jpg") repeat-x;
	text-align:center;
}
#intro {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	height:100%;

}

#stopka {
	position:relative; 
	width:100%;
	font-family:Arial, Helvetica, sans-serif;	
	font-size:9px;	
	color:#FFF;	
	top:480px; 
	height:22px; 
	text-align:center;  
	float:right
}

.logo {
cursor: pointer;
position:relative;	
width:195px ;	
height:78px;	
top:0px ;	
right:0px ;	
float:left;
}

#ramka {
	width:950px; 
	position:relative; 
	height: 100px; 
	top:-548px; 	
	margin-left:auto;	
	margin-right:auto; 
	text-align:right;
}
.tab {
				cursor: pointer;
				float: left;
				clear: none;
				width: 80px;
				height: 30px;
				line-height: 24px;
				color: White;
				text-align: center;
				font-weight:bold;				
				font-family:Arial, Helvetica, sans-serif;
				font-size:12px;
				-moz-border-radius-topleft: 5px;
				border-top-left-radius: 5px;
				-moz-border-radius-topright: 5px;
				border-top-right-radius: 5px;

			}
			
			.hover, .active {
				background: #e6dec5;
				color:#000;
				font-weight:bold;
			}
			
.tab1 {
				cursor: pointer;
				float: left;
				clear: none;
				width: 80px;
				height: 30px;
				line-height: 24px;
				color: White;
				text-align: center;
				font-weight:bold;				
				font-family:Arial, Helvetica, sans-serif;
				font-size:12px;
				-moz-border-radius-topleft: 5px;
				border-top-left-radius: 5px;
				-moz-border-radius-topright: 5px;
				border-top-right-radius: 5px;

			}
			
A:hover.tab1 {
				cursor: pointer;
				float: left;
				clear: none;
				width: 80px;
				height: 30px;
				line-height: 24px;
				color:#000;
				position: relative;
				left: -8px;
				top: 0px;
				text-align: center;
				font-weight:bold;				
				font-family:Arial, Helvetica, sans-serif;
				font-size:12px;
				background: #e6dec5;
				-moz-border-radius-topleft: 5px;
				border-top-left-radius: 5px;
				-moz-border-radius-topright: 5px;
				border-top-right-radius: 5px;

}	
			
