/* NCon Mobile */
.place {
    width: 300px; 
}

.hold-itao .content-container {
    margin-left: 110px;	
}


footer {
    position: relative;
}


@media only screen and (max-width: 769px) {
	.hold-itao .content-container {
    	margin-left: 80px;	
	}

	h5 {
		color: rgba(255,255,255,.6)
	}
	.cd-nav-trigger {
		right: 6px;
		top: 6px;
	}

	.cd-logo {
		margin-left: 24px;
		margin-top: 10px;
	}

	.itao-for-publishers-img {
	    width: 210px;
	    height: auto;
	}
	.hold-itao {
	    background: linear-gradient(135deg, #07223D, #092547, #08203C, #07223D);
	    overflow: hidden; }

	.hold-itao .content-container {
	    margin-left: 90px;
	    width: auto;
	    max-width: 65%;
	    margin-top: 50px;
	    margin-bottom: 50px;
	}

	#products .mycontainer {
		width: 240px;
	}

	.aito-for-publishers {
		padding: 50px 40px;
	}

	.space-margin-bottom-1 {
		margin-top: 1.8rem;
	}

	
	header.black-header.nav-is-visible {
	    transform: translateX(0);
	}
	header.black-header .cd-nav-trigger {
		display: none;
	}
	.employee.columns {
		width: 100%;
	}
	.employee-image {
		height: 300px;
	}
	.aboutus-logo {
		width: 70%;
		height: 32px;
	}
	.full-button{ 
		z-index: 999;
	 }
	.black-header {
		background: #0F75BF;
		height: 70px;
	}
	.itao-logo {
		background-position: 41% 0%;
	}
	.cd-nav-trigger {
		display: none;
	}
	.engage-more-logo {
		width: 100%;
		background-size: 93% auto;
	}

	.itao-image-mobile,
	.white-lines,
	.mycontainer.container {
		display: none;
	}

	.itao-about-block h5 {
		color: rgba(0,0,0,.7);
	}

	.itao-image-block h2, .itao-image-block h4, .itao-image-block .that-is-it,
	.aito-image-block h2, .aito-image-block h4, .aito-image-block .that-is-it {
		width: 70%;
	}
	.footer-logo {
	    top: 120px;
	}
	footer {
		min-height: 14em;;
	}
	footer:after {
	    display: block;
	    content:"Kattenburgerstraat 5 Amsterdam, 1018JA Netherlands";
	    color: rgba(0,0,0,.6);
	    text-align: center;
	    width: 60%;
	    margin: 2em auto;
	    font-size: 19px

	}
	.aito-for-publishers-img {
		width: 210px;
		height: auto;
	}
	.itao-logo,
	.aito-logo {
	    width: 180px;
		height: 30px;
		margin: 0 auto;
		background-size: 100%;
		background-position: inherit;
		background-repeat: no-repeat;
	}
	.aito-desktop {
		top: -440px;
		right: -285px;
	}
	.full-button {
		padding: 0 24px;
	}

	.about-the-team {
		display: none;
	}

	.mobileholder {
		position: relative;
	}

	.need-help {
		display: none;
	}

	.itao-mobile {
	    z-index: 100;
	    background: url(http://www.nineconnections.com/images/mobile.png) no-repeat -330px 50px;
	    left: 0;
	    top: 1em;
	    min-height: 800px;
	    position: absolute;
	    width: 260px;
	    background-size: 380px;
	}

}