/* NCon Mobile */
.place {
    width: 300px; 
}

.hold-itao .content-container {
    margin-left: 110px;	
}


footer {
    position: relative;
}

.cd-nav-trigger {
	right: 6px;
	top: 6px;
}

.cd-logo {
	margin-left: 24px;
	margin-top: 10px;
}

.itao-for-publishers-img {
	display: none;
}