@import url('https://fonts.googleapis.com/css?family=Heebo:400,600,700');

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: 'Heebo', sans-serif;
  color: #212121;
  background: #FFF;
}

body {
  padding: 0;
  margin: 0;
  background: white;
  background: linear-gradient(24deg, #FCB200 0%, #FCB200 30%, white 25%, white 100%);
}
.logo{
  max-width: 160px;
/*   margin-left: 40%; */
}
.kent{
  position: absolute;
  top: 40px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 2rem;
  background: #fff;
}
.video {
  max-width: 896px;
}
.nav-link {
  position: relative;
  margin-left: 2rem;
  color: #212121;
  text-decoration: none;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f50057; 
} 

.nav-link:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: -0.8rem;
  width: 100%;
  height: 3px;
  background: #f50057; 
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

.section {
  position: relative;
  padding: 5rem 0;
}

.section-product {
  display: flex;
  align-items: center;
  background: #FCB200 url('http://res.cloudinary.com/dxzwevsfs/image/upload/v1536059554/shooes_muev9t.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 -90px;
}

.product-container {
  width: 100%;
  min-width: 300px;
  padding: 2%;
}

.logo-white {
  max-width: 100%;
  height: auto;
}

.logo-title {
  color: white;
  font-weight: 300;
  font-size: 1.38rem;
  line-height: 1.5;
  margin: 1em 0 .3em;
  text-align: center;
  color: #f50057;
}

.logo-title.black {
  color: #101010;
  font-size: 2.4rem;
  margin-top: .6em;
  line-height: .1em;
}
  
.btn {
  cursor: pointer;
  display: block;
  width: fit-content;
  align-items: center;
  padding: 1.5rem 2.5rem;
  margin: 2rem auto;
  border-radius: 50px;
  background: linear-gradient(45deg, #FF9815 0%, #f50057 100%);
  color: white;
  text-decoration: none;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  transition: background 0.3s ease-in-out;
}


.section-make {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.make-container {
  max-width: 64rem;
  margin: auto;
}

.section-title {
  margin: 0;
  margin-bottom: 1rem;
  padding-top: 1rem;
  font-size: 5vmin;
  font-weight: 500;
}

.section-title.second {
  font-weight: bold;
  letter-spacing: -1.5px;
  font-size: 5.5vmin;
}
.section-subtitle {
  width: 60%;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 300;
}

.price {
  padding: 0;
  margin: 0;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: -3px;
  color: #111111;
  text-align: center;
}

.small {
  font-size: 1rem;
  vertical-align: middle;
  letter-spacing: 0px;
  font-weight: normal;
  display: block;
  text-align: center;
  clear: both;
  overflow: hidden;
}

.small span {
/*   background: orange; */
  padding: 0 50px;
  text-align: center;
  margin-top: .5em;
  display: inline-block;
  border-radius: 20px;
}
.buyuk {
  font-weight: bold;
/*   text-transform: uppercase; */
  font-size: 5rem!important;
  line-height: 4rem!important;
}
.buyuk span {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.4rem!important;
  display: block;
  line-height: 4rem!important;
}
.buyuk span ul {
  padding: 0;
}
.buyuk span ul li {
  list-syle: none;
  display: inline-block;
  margin: 10px;
  line-height: .1em!important;
  font-size: 1.2rem!important;
}
.buyuk span ul li span {
  font-weight: bold;
  font-size: 2.4rem!important;
}
.kent {
/*   position: absolute; */
  top: 25px;
  right: 25px;
  z-index: 999;
  width: 150px;
}
.make-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  align-items: center;
  text-align: center;
}

.grid-item {
  position: relative;
  width: 32%;
  height: 20rem;
  margin-bottom: 2%;
  padding: 0;
  background: black;
}

.grid-chocolate {
  background:#FF9815 url('http://fitblog.com.tr/wp-content/uploads/2018/02/shutterstock_582662983.jpg') center;
  background-size: cover
}
.grid-concrete {
  background: #FF9815 url('https://cdn3.sportngin.com/attachments/news_article/9585/3094/shutterstock_251794285_large.jpg') center;
  background-size: cover
}
.grid-wax {
  background: #FF9815 url('https://thenypost.files.wordpress.com/2017/04/shutterstock_262314047.jpg?quality=90&strip=all') center;
  background-size: cover
}
.grid-plastic {
  background: #FF9815 url('https://www.lotusflowerpcos.com/wp-content/uploads/2018/01/shutterstock_568138315-2.jpg') center;
  background-size: cover
}
.grid-jesmonite {
  background: #FF9815 url('http://www.sultanhamamberlin.de/site/wp-content/uploads/2015/11/Sultan-Hamam-Berlin-kleines-Hamam-Baden-Hammam1.jpg') center;
  background-size: cover
}
.grid-soap {
  background: #FF9815 url('https://www.amarillotownclub.com/hs-fs/hubfs/shutterstock_389031931.jpg?t=1535467940879&width=800&name=shutterstock_389031931.jpg') center;
  background-size: cover
}
.grid-spin {
  background: #FF9815 url('https://valleyleisurelifestyle.files.wordpress.com/2015/09/shutterstock_177261692.jpg?w=1280&h=854') center;
  background-size: cover
}

.grid-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 5%;
  background: #3C1D35;
  text-align: center;
  color: white;
  font-size: 1.1rem
}

.section-how {
  min-height: auto;
  padding: 2rem 0;
}
.how-container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.video {
  margin: auto;
  margin-top: 2rem;
}


.newsletter-container {
  text-align: center;
}

.form {
  width: 80%;
  max-width: 600px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 3rem auto;
}

.input {
  width: 100%;
  padding: 1.5rem 2rem;
  background: transparent;
  border: #616161  1px solid;
  border-radius: 50px;
  font-size: 1rem;
  letter-spacing: 1px;
}

.btn-submit {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}

.footer {
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  background: white;
}

.footer img {
  max-width: 320px;
}
.link {
  text-decoration: none;
  font-weight: 600;
  color: #212121;
  transition: color 0.3s ease;
}

.link:hover {
  color: #f50057;
}


@media (max-width:640px) {
  .kent {
    /*   position: absolute; */
      top: 5px;
      right: 5px;
      z-index: 999;
      width: 80px;
    }
  .buyuk {
  font-weight: bold;
    /*   text-transform: uppercase; */
      font-size: 3rem!important;
      background-color: linear-gradient(45deg, #FF9815 0%, #f50057 100%)!important;
      line-height: 1rem!important;
    margin-top: 3em;
    border-top: 50px solid transparent;
    }
  .section-product {
    background: #FCB200 url('http://res.cloudinary.com/dxzwevsfs/image/upload/v1536059554/shooes_muev9t.jpg') no-repeat;
    background-attachment: fixed;
    background-size: 170%;
    background-position: top;
  }
  .section-title.second {
    letter-spacing: -1px;
    font-size: 28px;
  }
  .small {
    margin-bottom: 1.5em;
  }
  .header {
    background: white;
  }
  .product-container {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .logo-title {
    margin-bottom: 0;
  }
  .price {
    margin-bottom: 1.5rem;
  }
  .product-container .btn {
    margin: auto;
  }
  .grid-item {
    width: 49%;
  }
}

@media (max-width:520px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 1%;
  }
  .navbar {
    margin-top: 1rem;
  }
  .nav-link {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .grid-item {
    width: 100%;
    margin-bottom: 5%;
  }
  
  .form {
    flex-direction: column;
  }
  
  .btn-submit {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 5%;
  }
}